apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-monitoring-config
  namespace: monitoring
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: slack-notifications
      group_by: ['alertname', 'severity']

    receivers:
      - name: slack-notifications
        slack_configs:
          - send_resolved: true
            api_url_file: /etc/alertmanager/secrets/slack-api-url/slack_api_url
            channel: "#alerts"
            username: "Alertmanager"
            title: "{{ .CommonLabels.alertname }} ({{ .CommonLabels.severity }})"
            text: >-
              *Alert:* {{ .CommonAnnotations.summary }}
              *Description:* {{ .CommonAnnotations.description }}
              *Status:* {{ .Status }}

